.hero-article-container .hero-article-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-article {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-article h1,
.hero-article h2,
.hero-article h3,
.hero-article h4,
.hero-article h5,
.hero-article h6,
.hero-article p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-article.no-image * {
  color: var(--text-color);
}

.hero-article picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-article img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-article {
    padding: 40px 32px;
  }
}
