/* LG Mobility Design - LG Smart Font Family */
/* Self-hosted from LG CDN */

/* LG Smart - Light (300) */
@font-face {
  font-family: 'LG Smart';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_Light.woff2') format('woff2'),
       url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_Light.woff') format('woff');
}

/* LG Smart - Regular (400) */
@font-face {
  font-family: 'LG Smart';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_Regular.woff2') format('woff2'),
       url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_Regular.woff') format('woff');
}

/* LG Smart - Regular Italic (400) */
@font-face {
  font-family: 'LG Smart';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_Regular_Italic.woff2') format('woff2'),
       url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_Regular_Italic.woff') format('woff');
}

/* LG Smart - SemiBold (600) */
@font-face {
  font-family: 'LG Smart';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_SemiBold.woff2') format('woff2'),
       url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_SemiBold.woff') format('woff');
}

/* LG Smart - Bold (700) */
@font-face {
  font-family: 'LG Smart';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_Bold.woff2') format('woff2'),
       url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_Bold.woff') format('woff');
}

/* LG Smart - Bold Italic (700) */
@font-face {
  font-family: 'LG Smart';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_Bold_Italic.woff2') format('woff2'),
       url('https://www.lg.com/lg5-common-gp/webfonts/LG_Smart_Bold_Italic.woff') format('woff');
}
